@model HHAPIWebApp.Models.Login

@*Html.AntiForgeryToken()*@

<h1>Log in</h1>

<form asp-controller="Account" asp-action="Login" method="post" class="form-horizontal" role="form">
    <style>
        table {
            border-spacing: 7px 11px;
        }

        td {
            padding: 5px;
        }
    </style>
    <p>
        <table>
            <tr>
                <td>
                    name\email:
                </td>
                <td>
                    @Html.TextBox("Name",null,new { autofocus = "autofocus" })
                </td>
            </tr>
            <tr>
                <td>
                    password:
                </td>
                <td>
                    <input name="Password" type="password"/>
                </td>
            </tr>
            <tr>
                <td></td>
                <td align="right">
                    <input type="submit" value="Login" />
                </td>
            </tr>

            <tr>
                <td></td>
                <td align="right">
                    @Html.ActionLink("Регистрация", "Register", "Account")
                </td>
            </tr>
        </table>
    </p>
</form>

